.custom-btn2 {
  background-color: #101129;
  color: #fff;
  border: none;
  padding: 2px 15px; /* Reduces padding */
  cursor: pointer;
  flex: 1;
  margin: 0 2px; /* Reduces margin */
  font-size: 10px; /* Reduces font size slightly */
  transition: background-color 0.3s;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加阴影 */
}

.sales1 {
  height: 10.333rem;
}
.sales1 .caption {
  display: flex;
  line-height: 1;
}
.sales1 h3 {
  height: 1.31rem;
  padding-right: 0.75rem;
  border-right: 0.083rem solid #00f2f1;
  font-size: 1.3rem; /* 设置标题文字的大小 */
}
.sales1 a {
  padding: 0.167rem;
  font-size: 0.667rem;
  margin: -0.125rem 0 0 0.875rem;
  border-radius: 0.125rem;
  color: #0bace6;
}
.sales1 a.active {
  background-color: #4c9bfd;
  color: #fff;
}
.sales1 .inner {
  display: flex;
  flex-direction: column;
}
.sales1 .chart {
  flex: 1;
  padding-top: 0.6rem;
  position: relative;
}
.sales1 .label {
  position: absolute;
  left: 1.75rem;
  top: 0.75rem;
  color: #4996f5;
  font-size: 0.583rem;
}
.sales1 .line {
  width: 100%;
  height: 100%;
}
