body {
    line-height: 1.6em;
}



#table1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    width: 1000px;
    text-align: left;
    border-collapse: separate;
    /* 更改为 separate */
    border-spacing: 0;
    /* 取消单元格间距 */
    border-radius: 10px;
    overflow: hidden;
    /* 确保圆角有效 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

#table1 th {
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    border-bottom: 2px solid #ddd;
    color: #039;
    background-color: #e9ecef;
}

#table1 td {
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
    color: #669;
}

.vzebra-odd {
    background: #eff2ff;
}

.vzebra-even {
    background: #e8edff;
}

#table1 #vzebra-adventure,
#table1 #vzebra-children {
    background: #d0dafd;
    border-bottom: 1px solid #c8d4fd;
}

#table1 #vzebra-comedy,
#table1 #vzebra-action {
    background: #dce4ff;
    border-bottom: 1px solid #d6dfff;
}

#table1 tr:hover {
    background-color: #f1f1f1;
}
#table2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    width: 1000px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#table2 th {
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    border-bottom: 2px solid #ddd;
    color: #039;
    background-color: #e9ecef;
}

#table2 td {
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
    color: #669;
}

.vzebra-odd {
    background: #eff2ff;
}

.vzebra-even {
    background: #e8edff;
}

#table2 #vzebra-adventure,
#table2 #vzebra-children {
    background: #d0dafd;
    border-bottom: 1px solid #c8d4fd;
}

#table2 #vzebra-comedy,
#table2 #vzebra-action {
    background: #dce4ff;
    border-bottom: 1px solid #d6dfff;
}

#table2 tr:hover {
    background-color: #f1f1f1;
}




#background-image {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    background: url('table-images/blurry.jpg') 330px 59px no-repeat;
}

#background-image th {
    padding: 12px;
    font-weight: normal;
    font-size: 14px;
    color: #339;
}

#background-image td {
    padding: 9px 12px;
    color: #669;
    border-top: 1px solid #fff;
}

#background-image tfoot td {
    font-size: 11px;
}

#background-image tbody td {
    background: url('table-images/back.png');
}

* html #background-image tbody td {
    /* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png', sizingMethod='crop');
    background: none;
}

#background-image tbody tr:hover td {
    color: #339;
    background: none;
}


#gradient-style {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}

#gradient-style th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url('table-images/gradhead.png') repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
}

#gradient-style td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff url('table-images/gradback.png') repeat-x;
}

#gradient-style tfoot tr td {
    background: #e8edff;
    font-size: 12px;
    color: #99c;
}

#gradient-style tbody tr:hover td {
    background: #d0dafd url('table-images/gradhover.png') repeat-x;
    color: #339;
}


#pattern-style-a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    background: url('table-images/pattern.png');
}

#pattern-style-a thead tr {
    background: url('table-images/pattern-head.png');
}

#pattern-style-a th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #039;
}

#pattern-style-a td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

#pattern-style-a tbody tr:hover td {
    color: #339;
    background: #fff;
}


#pattern-style-b {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    background: url('table-images/patternb.png');
}

#pattern-style-b thead tr {
    background: url('table-images/patternb-head.png');
}

#pattern-style-b th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #039;
}

#pattern-style-b td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

#pattern-style-b tbody tr:hover td {
    color: #339;
    background: #cdcdee;
}

/* 分页器的样式 */
/* 分页控件的容器样式 */
#pagination {
    text-align: center;
    width: 600px;
    margin-top: 20px;
}

/* 分页按钮的通用样式 */
#pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* 分页按钮悬停时的样式 */
#pagination button:hover {
    background-color: #99c;
}

/* 激活的当前页码按钮样式 */
#pagination button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* 输入框样式 */
#pagination input[type="number"] {
    padding: 4px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    width: 50px;
    /* 根据需要调整宽度 */
}

/* 分页信息样式 */
#pagination span {
    margin: 0 10px;
    font-size: 14px;
}

#pagination2 {
    text-align: center;
    width: 600px;
    margin-top: 20px;
}

/* 分页按钮的通用样式 */
#pagination2 button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* 分页按钮悬停时的样式 */
#pagination2 button:hover {
    background-color: #99c;
}

/* 激活的当前页码按钮样式 */
#pagination2 button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* 输入框样式 */
#pagination2 input[type="number"] {
    padding: 4px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    width: 50px;
    /* 根据需要调整宽度 */
}

/* 分页信息样式 */
#pagination2 span {
    margin: 0 10px;
    font-size: 14px;
}



#viewDetails:hover {
    background-color: #0078A8;
    /* 鼠标悬停时的颜色 */
}

#datatable {
    margin-top: 20px;
    position: relative;
    left: 15px;
    width: 100%;
}

.header {
    margin-top: 20px;
    position: relative;
    width: 600px;
    text-align: left;
    text-indent: 2em;
    /* 设置缩进为两个汉字宽度 */
    color: white;

}
.header_interactionHeader{
    margin-top: 20px;
    position: relative;
    width: 100%;
    text-align: left;
    text-indent: 2em;
    /* 设置缩进为两个汉字宽度 */
    color: white;
}

.chooser {
    font-size: larger;
    font-weight: bold;
    color: white;
}

#viewDetails {
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 60px;
    background-color: #0E5A78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 30px;
}

#viewDetails:hover {
    background-color: #99c;
    /* 鼠标悬浮时的背景颜色 */
}

#runPythonScript {
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 60px;
    background-color: #0E5A78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 30px;
}

#runPythonScript:hover {
    background-color: #99c;
    /* 鼠标悬浮时的背景颜色 */
}

.progress {
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.progress-bar {
    background-color: #4caf50;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
#buttoncontainer{
    margin-left: 700px;
}
#viewDetails, #runPythonScript {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    width: 80px;
}

#viewDetails:hover img, #runPythonScript:hover img {
    opacity: 0.8;
}
#allcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
    height: 80%; 
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progress {
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%; /* Set width to 100% for consistency */
    max-width: 400px; /* Set a maximum width for the progress bar */
    margin: 0 auto; /* Center the progress bar */
}
.progress-bar {
    background-color: #4caf50;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 0%; /* Set initial width */
    transition: width 0.5s; /* Smooth transition for width changes */
}

#statusMessage {
    text-align: center; /* Center the status message */
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
}
