.guide{
    font-size: 20px;
    display: flex; /* 使用 Flexbox 来对齐 */
}

.guide .aa{
    margin-left: 1%;
    margin-top: 1%;
    color: #fff;
    display: inline; /* 可以改成 inline-block，如果需要设置宽度和高度 */
    margin-right: 10px; /* 可选：设置链接与文本之间的间距 */
}

.guide a:hover {
    color:#4c9bfd;
}

.guide p{
    margin-top: 2%;
    margin-left: 15%;
    color:#fff;
    font-size: 25px;
    display: inline; /* 可以改成 inline-block */
    
}

.href_color {
    color:#4c9bfd;
    margin-left: 1%;
    margin-top: 1%;
    display: inline; /* 可以改成 inline-block，如果需要设置宽度和高度 */
    margin-right: 10px; /* 可选：设置链接与文本之间的间距 */
}

.guide .p_index{
    margin-top: 1%;
    margin-left: 15%;
    color:#fff;
    font-size: 25px;
    display: inline; /* 可以改成 inline-block */
    
}

.hospital-info {
    color: white; /* 设置文本颜色为白色 */
    margin-bottom: 6px; /* 设置段落的底部边距 */
    font-size: 135%;
}

.hospital-label {
    font-weight: bold; /* 设置加粗 */
    color: white; /* 确保加粗文本也是白色 */
}

.hospital-value {
    color: white; /* 确保值也是白色 */
}

.hospital-link {
    color: white; /* 链接颜色 */
    text-decoration: none; /* 去掉链接下划线 */
}

.hospital-link:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}
